# Python
backend/.venv/
backend/__pycache__/
backend/*.pyc

# Node
frontend/node_modules/

# Env files
**/*.env
venv/
backend/venv/
# VSCode
.vscode/
*.pkl
*.csv
# Add these lines to .gitignore
*.h5
*.model
__pycache__/
.DS_Store
node_modules/
build/
dist/

# Large model files
enhanced_api_model.pkl
api_model.pkl
neural_cf_model.pkl

# Python cache
*.pyc
*.pyo